// Add default styles for links
$au-link-color                       : $au-blue-700 !default;
$au-link-hover-color                 : $au-blue-600 !default;
$au-link-active-color                : $au-gray-900 !default;
$au-link-secondary-color             : $au-gray-800 !default;
$au-link-secondary-hover-color       : $au-gray-700 !default;
$au-link-secondary-active-color      : $au-gray-900 !default;

.au-c-content {
  a {
    display: inline;
    align-items: center;
    font-family: $au-font;
    transition: color $au-transition, text-decoration $au-transition;
    font-weight: $au-regular;
    text-decoration-color: tint($au-link-color,70);
  }

  a,
  a:visited {
    color: $au-link-color;
  }

  a:hover,
  a:focus {
    color: $au-link-hover-color;
    text-decoration-color: tint($au-link-hover-color,80);
  }

  a:focus {
    outline: $au-outline;
    outline-offset: $au-unit-tiny/2;
  }

  p,
  li {
    max-width: 70ch;
  }

  li {
    margin-bottom: 2rem;
  }

  th p {
    margin-bottom: 0;
  }

  table {
    margin-bottom: 2rem;
  }

  table.vl-data-table--tight th {
    white-space: initial;
  }

  table.vl-data-table--tight th,
  table.vl-data-table--tight td {
    padding: 0.7rem;
  }

  > * + div,
  * + img,
  * + .au-c-alert {
    margin-top: $au-unit;
  }

  // Fix nested grids
  .au-o-grid {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
  }

  // Extend content styles into grid items @TODO: find a less dirty solution for grids inside content area's.
  .au-o-grid__item {
    @extend .au-c-content;
  }
}

// Images
.au-c-manual-picture {
  border: .1rem solid $au-gray-200;
  border-radius: $au-radius;
}

.cus-bullet-list,
.au-c-bullet-list {
  list-style: disc !important;
  margin-left: 1rem !important;
  margin-bottom: 1rem !important;
}

.cus-num-list,
.au-c-num-list  {
  list-style: decimal !important;
  margin-left: 1rem !important;
  margin-bottom: 1rem !important;
  padding-left: 1rem !important;
  list-style-position: initial !important;
}


.cus-num-list li,
.au-c-num-list li,
.cus-bullet-list li,
.au-c-bullet-list li {
  margin: 0;
  max-width: none;
}

.cus-num-list--breathe li,
.au-c-num-list--breathe li {
  margin-bottom: 2rem;
}

.au-c-icon-list {
  list-style: none !important;
}

.au-c-icon-list__item {
  position: relative;

  .au-c-icon {
    position: absolute;
    left: -$au-unit;
    top: .2rem;
    color: $au-gray-400;
  }
}

.vl-region {
  padding-top: 0 !important;
}
